//common start
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 14px;
    font-weight: 400;
    display: block;
    font-family: 'Russo One', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


a{
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
    }
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn{
    button{
    color: #fff;
    font-size: 18px;
    background-color: #f1592a;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    }
    button:hover{
        background-color: #e14444;
        transform: scale(1.1 , 1.1);
    }
    
}


//common end

//header start

.header{
    .header__inner{
        .header__menu{
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .header__menu__li + .header__menu__li{
                        margin-left: 15px;
                    }
                    img{
                        width: 150px;
                        height: 80px;
                    }
                }
            }
        }
        .header__menu-right-content{
            margin-left: 150px;
            
        }
        .header__btn-call{
            margin-left: 10px;
        }
        .header__btn{
            display: block;
            margin-bottom: 15px;
        }
        .header__btn-down{
            display: inline;
            border-bottom: 1px dashed #000;
            transition: all .3s;
            
        }
        .btn__tel{
            position: relative; 
        }
        .btn__mail{
            position: relative;
        }
    }
    a:hover{
        color: #f1592a;
    }
    .header__btn-down:hover{
        border-bottom: 1px dashed #f1592a;
    }
    .btn__tel:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
    }
    .btn__mail:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/mail.png);
        background-repeat: no-repeat;
    }
}

//header end


//header__slider start

.header__slider {
    position: relative;
    margin-bottom: 50px;
    .slick-arrow{
        background-color: rgba(0, 0, 0, .0);
        transition: all .3s;
        cursor: pointer;
    }
    .slick-arrow:hover{
        transform: scale(1.1 ,1.1);
    }
    .slick-prev{
        // background-color: none;
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        left: -10%;
        width: 50px;
        height: 70px;
        background-image: url(../img/back-2.png);
        background-position: center;
        background-repeat: no-repeat; 
        background-color: none;
    }
    .slick-next{
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        right: -10%;
        width: 50px;
        height: 70px;
        background-image: url(../img/forward.png);
        background-position: center;
        background-repeat: no-repeat; 
        background-color: none;    
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        font-size: 0;
        padding-bottom: 10px;
        button{
            background-color: #e3eaf0;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: none; 
            cursor: pointer; 
            transition: all .3s;
        }
        button:hover{
            background-color: #a68282;
        }
        li + li{
            margin-left: 20px;
        }
    }
    background-image: url(../img/Кривые\ 1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    .item-title{
        padding-top: 120px;
        padding-bottom: 50px;
        font-size: 40px;
        color: #fff;
        text-align: left;
        line-height: 60px;
        span{
            background-color: #84d000;
            padding: 5px;
        }
    }
    .item-btn{
        margin-left: 12px;
        button{
        padding: 25px 50px;  
        }
        
    }
    .item-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 50px;
    }
    .item-info{
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .item-info-item{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
        img{
            height: 45px;
        }
        .item-info-item-discr{
            color: #fff;
            padding-top: 10px;
            
            
        }
    }
    .item-subtitle{
        color: #fff;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            position: relative;
            background-color: #fff;
            padding: 7px 15px;
            border-radius: 50%;
        }
        // img:before{
        //     content: '';
        //     width: 20px;
        //     height: 20px;
        //     background-color: #fff;
        //     border-radius: 50%;
        //     top: 10;
        //     left: 10;
        //     position: absolute;
        // }
    }
}
.header__slider-inner-content-item {
    margin: 50px 0;
}

//header__slider end


//form start

.form {
    &__inner{
        border-radius: 5px;
        background-color: #252525;
        color: #fff;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        height: 80px;
        .form-input{
        border-radius: 5px;
        background-color: #373737;
        display: flex;
        justify-content: space-between;
        form{
            padding: 9px 40px 8px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                padding: 20px 50px 20px 15px;
                border-radius: 10px;
                outline: none;
            }
        }
        }   
    }
    &__first-btn{
        button{
            padding: 20px 45px;
        }
    }
    .form__inner-item{
        position: relative;
        margin-left: 10px;
    }
    .form__inner-item::before{
        position: absolute;
        content: '';
        width: 15px;
        height: 10px;
        background-image: url(../img/pe.png);
        background-position: center;
        background-repeat: no-repeat;
        top: 20%;
        left: 130%;
    }
    .form__second-btn{
        margin-left: 20px;
        button{
            color: #fff;
            font-size: 18px;
            background-color: #373737;
            border-radius: 50px;
            padding: 20px 45px;
            border: 1px solid #f1592a;
            cursor: pointer;
            transition: all .3s; 
        }
        button:hover{
            background-color: #e14444;
            transform: scale(1.1 , 1.1);
        }
    }

    
}

.form__inner {
}
.form__inner-item {
}
.form__first-btn {
}
.form__input {
}
.form__second-btn {
}

//form end
