//common start
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 14px;
    font-weight: 400;
    display: block;
    font-family: 'Russo One', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


a{
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
    }
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn{
    button{
    color: #fff;
    font-size: 18px;
    background-color: #f1592a;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    }
    button:hover{
        background-color: #e14444;
        transform: scale(1.1 , 1.1);
    }
    
}
//common end

//header start

.header{
    .header__inner{
        .header__menu{
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .header__menu__li + .header__menu__li{
                        margin-left: 15px;
                    }
                    img{
                        width: 150px;
                        height: 80px;
                    }
                }
            }
        }
        .header__menu-right-content{
            margin-left: 150px;
            
        }
        .header__btn-call{
            margin-left: 10px;
            // display: inline;
            // border-bottom: 1px dashed #000
        }
        // .header__btn-write::before{
        //     content: '';
        //     background-image: url(../img/phone.png);
            
        // }
        .header__btn{
            display: block;
            margin-bottom: 15px;
        }
        .header__btn-down{
            display: inline;
            border-bottom: 1px dashed #000;
            transition: all .3s;
            
        }
        .btn__tel{
            position: relative; 
        }
        .btn__mail{
            position: relative;
        }
    }
    a:hover{
        color: #f1592a;
    }
    .header__btn-down:hover{
        border-bottom: 1px dashed #f1592a;
    }
    .btn__tel:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
    }
    .btn__mail:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/mail.png);
        background-repeat: no-repeat;
    }
}

//header end


//header__slider start

.header__slider {
    background-image: url(../img/Кривые\ 1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    .item-title{
        padding-top: 120px;
        padding-bottom: 50px;
        font-size: 40px;
        color: #fff;
        text-align: left;
        line-height: 60px;
        span{
            background-color: #84d000;
            padding: 5px;
        }
    }
    .item-btn{
        button{
        padding: 25px 50px;  
        }
        
    }
    .item-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-bottom: 50px;
    }
    .item-info{
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: space-between;
    }
    .item-info-item{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
        img{
            // margin-bottom: 20px;
        }
        .item-info-item-discr{
            color: #fff;
            padding-top: 10px;
            
            
        }
    }
    .item-subtitle{
        color: #fff;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        img{
            // background-color: #fff;
            // padding: 20px;
            // border-radius: 50px;
            margin-right: 10px;
            position: relative;
        }
        img:before{
            content: '';
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 50%;
            top: 10;
            left: 10;
            position: absolute;
        }
    }

}

.header__slider-inner-content-item {
    margin: 50px 0;
}
.item-title {
}
.item-content {
}
.item-btn {
}
.item-info {
}
.item-info-item {
}
.item-info-item-discr {
}
.item-subtitle {
}
.item-subtitle-text {
}

//header__slider end