@mixin main-title {
    font-family: 'Russo one';
    font-size: 33px;
    font-weight: 400;
    span{
        color: $color-red;
    }
}

//fonts start



//fonts end

//common start
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-size: 14px;
    font-weight: 400;
    display: block;
    // font-family: 'Russo One', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


a{
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    li{
        margin: 0;
    }
}

ul{
    padding: auto;
    li{
        margin-top: 0;
    }
}
li{
    list-style: none;
}

strike{
    color: #828282;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn{
    button{
    color: #fff;
    font-size: 18px;
    background-color: #f1592a;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    }
    button:hover{
        transform: scale(1.1 , 1.1);
        box-shadow: 0px 11px 35px 0px rgba(241, 89, 42, 0.7),0px 2px 0px 0px rgba(194, 72, 34, 0.004);
    }
    
}

.main-btn-unactive{
    button{
    color: #f1592a;
    font-size: 18px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #f1592a;
    cursor: pointer;
    transition: all .3s;
    }
    button:hover{
        color: #fff;
        background-color: #f1592a;
        box-shadow: 0px 11px 35px 0px rgba(241, 89, 42, 0.7),0px 2px 0px 0px rgba(194, 72, 34, 0.004);
        transform: scale(1.1 , 1.1);
    }
    
}
.burger-btn{
    width: 30px;
    height: 50px;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
    .burger-line{
        background-color: black;
        width: 30px;
        height: 2px;
        margin: 5px 0;
    }
    &:hover{
        transform: scale(1.1 ,1.1);
    }
}


$color-red: #f1592a;
//common end

//header start

.header{
    .header__inner{
        .header__menu{
            nav{
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // .header__menu__li{
                    //     a{
                    //         img{
                    //             width: 100%;
                    //         }
                    //     }
                    // }
                    .header__menu__li + .header__menu__li{
                        margin-left: 15px;
                    }
                    img{
                        width: 150px;
                        height: 80px;
                    }
                }
            }
        }
        .header__menu-right-content{
            margin-left: 150px;
            
        }
        .header__btn-call{
            margin-left: 10px;
        }
        .header__btn-write{
            margin-left: -30px;
        }
        .header__btn{
            display: block;
            margin-bottom: 15px;
        }
        .header__btn-down{
            display: inline;
            border-bottom: 1px dashed #000;
            transition: all .3s;
            
        }
        .btn__tel{
            position: relative; 
            font-family: 'Russo One';
        }
        .btn__mail{
            position: relative;
        }
    }
    a:hover{
        color: #f1592a;
    }
    .header__btn-down:hover{
        border-bottom: 1px dashed #f1592a;
    }
    .btn__tel:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/phone.png);
        background-repeat: no-repeat;
    }
    .btn__mail:before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        left: -30px;
        background-image: url(../img/mail.png);
        background-repeat: no-repeat;
    }

}

//header end


//header__slider start

.header__slider {
    position: relative;
    margin-bottom: 50px;
    .slick-arrow{
        background-color: rgba(0, 0, 0, .0);
        transition: all .3s;
        cursor: pointer;
    }
    .slick-arrow:hover{
        transform: scale(1.1 ,1.1);
    }
    .slick-prev{
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        left: -10%;
        width: 50px;
        height: 70px;
        background-image: url(../img/back-2.png);
        background-position: center;
        background-repeat: no-repeat; 
        background-color: none;
    }
    .slick-next{
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        right: -10%;
        width: 50px;
        height: 70px;
        background-image: url(../img/forward.png);
        background-position: center;
        background-repeat: no-repeat; 
        background-color: none;    
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        font-size: 0;
        padding-bottom: 10px;
        button{
            background-color: #e3eaf0;
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: none; 
            cursor: pointer; 
            transition: all .3s;
        }
        button:hover{
            background-color: #a68282;
        }
        li + li{
            margin-left: 20px;
        }
    }
    background-image: url(../img/Кривые\ 1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    .item-title{
        padding-top: 120px;
        padding-bottom: 50px;
        font-size: 40px;
        color: #fff;
        text-align: left;
        line-height: 60px;
        span{
            background-color: #84d000;
            padding: 5px;
        }
    }
    .item-btn{
        margin-left: 12px;
        button{
        padding: 25px 50px;  
        }
        
    }
    .item-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .item-info{
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .item-info-item{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
        img{
            height: 45px;
        }
        .item-info-item-discr{
            color: #fff;
            padding-top: 10px;
            
            
        }
    }
    .item-subtitle{
        color: #fff;
        padding-bottom: 50px;
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
            position: relative;
            background-color: #fff;
            padding: 7px 15px;
            border-radius: 50%;
        }
    }
}
.header__slider-inner-content-item {
    font-family: 'Russo One';
    margin: 50px 0;
}

//header__slider end

//form start

.form {
    margin-bottom: 120px;
    &__inner{
        
        
        
        // .123{
        border-radius: 5px;
        background-color: #252525;
        color: #fff;    
        display: flex;
        justify-content: space-between;  
        align-items: center;
        height: 80px;
        // }
        .form-input{
        border-radius: 5px;
        background-color: #373737;
        display: flex;
        justify-content: space-between;
        form{
            padding: 9px 40px 8px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                padding: 20px 50px 20px 15px;
                border-radius: 10px;
                outline: none;
            }
        }
        }   
    }
    &__first-btn{
        button{
            padding: 20px 45px;
        }
    }
    .form__inner-item{
        position: relative;
        margin-left: 10px;
        &:hover{
           .form__drop-down{
               display: block;
           } 
        }
        button{
            border: none;
            background-color: #252525;
            color: #fff;
            cursor: pointer;
            position: relative;
        }
        .form__drop-down{
            padding: 20px 0;
            display: none;
            position: absolute;
            top: 15px;
            left: -10px;
            background-color: #252525;
            z-index: 10;
            min-width: 120px;
            min-height: 80px;
            border-radius: 5px;
            .form__drop-down-item{
                margin: 5px 11px;
                text-align: center;
                line-height: 0px;
                border-radius: 3px;
                padding: 15px 8px;
                transition: all .3s;
                
            }
            button:hover{
                background-color: #f36f46;
                box-shadow: 0px 5px 10px 0px rgba(241, 89, 42, 0.7),0px 2px 0px 0px rgba(194, 72, 34, 0.004);
            }
        }
    }
    .form__inner-item::before{
        position: absolute;
        content: '';
        width: 15px;
        height: 10px;
        background-image: url(../img/pe.png);
        background-position: center;
        background-repeat: no-repeat;
        top: 22%;
        left: 102%;
    }
    .form__first-btn{
        z-index: 20 ;
    }
    .form__second-btn{
        margin-left: 20px;
        button{
            color: #fff;
            font-size: 18px;
            background-color: #373737;
            border-radius: 50px;
            padding: 20px 45px;
            border: 1px solid #f1592a;
            cursor: pointer;
            transition: all .3s; 
        }
        button:hover{
            background-color: #e14444;
            transform: scale(1.1 , 1.1);
        }
    }

    
}

//form end

//tours start

.tours {
    margin-bottom: 60px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        top: 6%;
        bottom: 33%;
        width: 1000px;
        background-color: #ededed;
        height: 467px;
        width: 100%;
        z-index: -1;
    }
    &::before{
        position: absolute;
        content: '';
        top: 50%;
        bottom: 50%;
        width: 1000px;
        background-color: #ededed;  
        height: 467px;
        width: 100%;
        z-index: -2;
    }
    

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-btns-up{
            display: flex;
            margin-bottom: 50px;
            .tour__btn-up{
                font-family: 'Russo One';
                button{
                    font-size: 30px;
                    border: none;
                    background: none;
                    cursor: pointer;
                    transition: all .3s;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        color: #f1592a;
                        border-bottom: 1px solid #f1592a;
                    }
                }
            }
            .tour__btn-up + .tour__btn-up{
                margin-left: 250px;
            }
        }
        &-content{       
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -5px;
            .tours__item-container{
                margin-left: 20px;
            }
            &-item{
                box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.08);
                text-align: left;
                background-color: #fff;
                margin-bottom: 30px;
                transition: all .3s;
                &:hover{
                    box-shadow: 0px 33px 35px 0px rgba(0, 0, 0, 0.31);
                }
                span{
                    color: #828282;
                    margin-right: 15px;
                    font-weight: 700;
                }
                .tours__item-img{
                    margin-bottom: 40px;
                }
                .tours__item-title{
                    font-family: 'Russo One';
                    font-size: 19px;
                    margin-bottom: 35px;
                }
                .tours__item-date{
                    margin-bottom: 20px;
                    font-weight: 700;
                }
                .tours__item-difficulty{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    p{
                        width: 8px;
                        height: 8px;
                        background-color: $color-red;
                        
                    }
                    p + p{
                        margin-left: 6px;
                    }
                    .empty-squere{
                        background-color: #fff;
                        border: 1px solid #cdcdcd;
                    }
                }
                .tours__item-price{
                    margin-bottom: 40px;
                    font-size: 20px;
                    font-weight: 700;
                    span{
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
                .tours__item-btns{
                    margin-bottom: 50px;
                    button{
                        padding: 15px 25px;
                        transform: scale( 1, 1);
                        transition: all .9s;
                    }
                    button + button{
                        margin-left: 5px;
                    }
                    .tours__item-btn{
                        background-color: #fff;
                        color: #f1592a;
                        border: 1px solid #f1592a;
                        &:hover{
                            color: #fff;
                            border: 1px solid #e14444;
                            background-color: #e14444;
                            
                        }
                    }
                }
            }
        }
        .tours__inner-btns-down{
            display: flex;
            .tour__btn-down + .tour__btn-down{
                margin-left: 30px;
            }
            .tour__btn-down{
                button{
                    padding: 30px 25px;
                    border-radius: 50px;
                }
            }
        }
    }
}


//tours end


//tourclub start

.tourclub {
    margin-bottom: 100px;
    &__content{
        display: flex;
        flex-wrap: wrap;
        &-item{
            width: 50%;
        }
        .tourclub-active-life{
            position: relative;
            margin-top: 75px;
            .active-life-btn{
                position: absolute;
                right: 50px;
                top: -10px;
                button{
                padding: 20px 35px;   
                }
                
            }
            .active-life-title{
                margin-bottom: 25px;
                font-size: 33px;
                font-family: 'Russo One';
                span{
                    color: #f1592a;
                }
            }
            .active-life-subtitle{
                color: #939393;
                margin-bottom: 40px;
                width: 65%;
                line-height: 20px;
            }
            .active-life-quote-1{
                width: 45%;
                line-height: 20px;
                font-weight: 600;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    top: -30px;
                    left: 140%;
                    background-image: url(../img/quote.jpg);
                    background-repeat: no-repeat;
                }
            }
            .active-life-quote-2{
                width: 50%;
                text-align: end;
                font-weight: 600;
            }
        }
        .tourclub-vid{
            margin-bottom: -2px;
            .tourclub-vid-title{
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 800;
                span{
                    color:$color-red ;
                    
                }
            }
        }
        .tourclub-stat{
            background-color: #252525;
            .tourclub-stat-text{
                font-size: 18px;
                font-family: 'Russo one';
                margin-left: 60px;
                margin-top: 40px;
                color: #fff;
                display: flex;
                text-align: left;
                align-items: center;
                span{
                    color: $color-red;
                    font-size: 60px;                 
                    margin: 0 20px;
                }
                img{
                    display: inline;
                    width: 9%;
                }
            }
        }
        .tourclub-partner{
            font-family: 'Russo one';
            font-size: 23px;
            text-align: center;
            
            .tourclub-partner-title{
                margin-top: 100px;
                span{
                    color: $color-red;
                }            
            }
            .tourclub-partner-btn{
                display: inline;
                button{
                    padding: 35px 80px; 
                    border-radius: 45px;   
                }
                
            }
            .tourclub-partner-img{
                display: inline;
            }
            .tourclub-partner-content{
                margin-top: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                div + div{
                    margin-left: 40px;
                }
            }
            
        }
    }
}

//tourclub end

//includes start

.includes {
    margin-bottom: 120px;
    .includes__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        .includes__inner-title{
            @include main-title;

            margin-bottom: 50px;
        }
        .includes__inner-content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 95%;
            margin-bottom: 35px;
            .includes__inner-item{
                line-height: 20px;
                font-size: 15px;
                width: 33%;
                text-align: center;
                margin-top: 30px;
                span{
                    font-weight: 700;
                }
            }
            .includes__inner-item-text{
                width: 75%;
                margin: 0 auto;
            }
        }
        .includes__inner-btns{
            display: flex;
            button + button{
                margin-left: 20px;
            }
            button{
                padding: 30px 70px;
                border-radius: 45px;
            }
        }
    }
}

//includes end

//team start

.team{
    margin-bottom: 200px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 100px;
        background-image: url(../img/team-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .team__inner{
        position: relative;
        .slick-arrow{
            background-color: rgba(0, 0, 0, .0);
            transition: all .3s;
            cursor: pointer;
        }
        .slick-arrow:hover{
            transform: scale(1.1 ,1.1);
        }
        .slick-prev{
            // background-color: none;
            border: none;
            font-size: 0;
            position: absolute;
            top: 85%;
            left: 37%;
            width: 50px;
            height: 70px;
            background-image: url(../img/team-ar-back.png);
            background-position: center;
            background-repeat: no-repeat; 
            background-color: none;
        }
        .slick-next{
            border: none;
            font-size: 0;
            position: absolute;
            top: 85%;
            right: 33%;
            width: 50px;
            height: 70px;
            background-image: url(../img/team-ar-next.png);
            background-position: center;
            background-repeat: no-repeat; 
            background-color: none;    
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            font-size: 0;
            padding-bottom: 10px;
            button{
                background-color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                border: none; 
                cursor: pointer; 
                transition: all .3s;
            }
            button:hover{
                background-color: $color-red;
            }
            li + li{
                margin-left: 20px;
            }
        }
        .team__inner-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            margin-left: auto;
            margin-bottom: 100px;
            .team__inner-title-main{
                @include main-title;
            }
            .team__inner-title-btns{  
                a{
                    border-bottom: 1px dashed #000;
                    color: #000;
                }             
                a:hover{
                    border-bottom: 1px dashed $color-red;
                    color: $color-red;
                }
                a + a{
                    margin-left: 15px;
                }
            }
        }
        .team__inner-content{
            &-item{ 
                display: flex !important;
                align-items: flex-start;
                .team__item-text{
                    margin-left: 45px;
                    .team__item-title{
                        font-family: 'Russo one';
                        font-size: 22px;
                        margin-bottom: 30px;
                    }
                    .team__item-subtitle{
                        color: #4a4a4a;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}


//team end

//directions start

.directions {
    margin-bottom: 40px;
    .directions__inner {
        .directions__inner-title {
            @include main-title;

            text-align: center;
            margin-bottom: 50px;
        }
        .directions__inner-content {
            display: flex;
            justify-content: space-between;
            &-item{
                &-t{
                    font-family: 'Russo one';
                    text-align: center;
                    font-size: 20px;
                    text-align: left;
                }
                &-l{
                    
                    .directions__li{
                        margin-top: 25px;
                        position: relative;
                        &::before{
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        top: 2px;
                        left: -25px;
                        background-image: url(../img/tr.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        }
                    }
                    
                }
            }
        }
    }    
}

//directions end

//question start

.question {
    margin-bottom: 120px;
    .question__inner{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        .question__inner-title{
            font-family: "Russo one";
            font-size: 20px;
            margin-bottom: 20px;
        }
        .question__inner-content{
            background-color: #252525;
            border-radius: 100px;
            form{
                z-index: 5;
                display: flex;
                justify-content: end;
                .question__input{
                    position: absolute;
                    left: 32%;
                    margin: 65px 0;
                    z-index: 1;
                    input{
                        padding: 30px 260px 30px 40px;
                        border-radius: 50px;
                        outline: none;
                    }
                }
                .question__btn{
                    margin: 65px 70px;
                    position: relative;
                    z-index: 10;
                    button{
                        padding: 30px 80px 30px 100px;
                        border-radius: 50px;
                        &:hover{
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}

//question end 

//cleints start

.clients {
    margin-bottom: 110px;
    &__inner{
        position: relative;
        .slick-arrow{
            background-color: rgba(0, 0, 0, .0);
            transition: all .3s;
            cursor: pointer;
        }
        .slick-arrow:hover{
            transform: scale(1.1 ,1.1);
        }
        .slick-prev{
            border: none;
            font-size: 0;
            position: absolute;
            top: 23%;
            left: 11%;
            width: 50px;
            height: 70px;
            background-image: url(../img/team-ar-back.png);
            background-position: center;
            background-repeat: no-repeat; 
            background-color: none;
            z-index: 10;
        }
        .slick-next{
            border: none;
            font-size: 0;
            position: absolute;
            top: 23%;
            right: 11%;
            width: 50px;
            height: 70px;
            background-image: url(../img/team-ar-next.png);
            background-position: center;
            background-repeat: no-repeat; 
            background-color: none;    
        }
        .slick-dots{
            // margin-top: 100px;
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
            font-size: 0;
            padding-bottom: 10px;
            button{
                background-color: #f0f0f0;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                border: none; 
                cursor: pointer; 
                transition: all .3s;
            }
            button:hover{
                background-color: $color-red;
            }
            li + li{
                margin-left: 20px;
            }
        }
        &-title{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;
            margin-left: auto;
            margin-bottom: 60px;
            .clients__title-main {
               @include main-title;

            }
            .clients__title-btn{
                a{
                    border-bottom: 1px dashed #000;
                    color: #000;
                }             
                a:hover{
                    border-bottom: 1px dashed $color-red;
                    color: $color-red;
                }           
            }   
        }
        &-content{
            text-align: center;
            &-item{
                .clients__item-img{
                    margin-bottom: 40px;
                    display: flex;
                    justify-content: center;
                }
                .clients__item-name-online{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 84%;
                    margin-left: auto;
                    margin-bottom: 15px;
                    .clients__name{
                        font-family: 'Russo one';
                        font-size: 22px;
                    }
                    .clients__online{
                        color: #d8d8d8;
                        font-size: 12px;
                        margin-left: 50px;
                    }
                }
                .clients__item-age{
                    color: $color-red;
                    font-size: 12px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                .clients__item-text{
                    width: 100%;
                    margin: 0 auto 40px;
                    p{
                        display: block;
                    }
                }
            }
        }
        &-socials{
            &-title{
                font-size: 20px;
                text-align: center;
                font-family: 'Russo one';
                margin-bottom: 30px;
            }
            &-links{
                display: flex;
                align-items: center;
                justify-content: center;
                a + a{
                    margin-left: 30px;
                }
                a:hover{
                    transform: scale(1.1 , 1.1);
                }
            }
        }
    }
}

//clients end

//definition start

.definition {
    margin-bottom: 160px;
    &__inner{
        text-align: center;
        &-title{
            @include main-title;
        }
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 200px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 150%;
                top: 0;
                left: 13%;
                background-image: url(../img/гора.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: -50;    
            }
            &::after{
                position: absolute;
                content: '';
                width: 170%;
                height: 100%;
                top: -5%;
                left: -71%;
                background-image: url(../img/cloud-down.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: rgba(255, 255, 255, .0);
                z-index: -1;
            }
            
            &-figure{
                font-family: 'Russo one';
                font-size: 264px;
                color: $color-red;
                z-index: -100;
            }
            &-text{
                font-family: 'Russo one';
                font-size: 22px;
                margin-left: 50px;
                width: 30%;
                margin-bottom: 50px;
                z-index: 1;
                &::after{
                    position: absolute;
                    content: 'Простых вопросов помогут вам подняться на вершину';
                    width: 30%;
                    height: 100%;
                    top: 26%;
                    left: 44%;
                    z-index: 10;
                    
                }
                &::before{
                    position: absolute;
                    content: '';
                    width: 102%;
                    height: 97%;
                    top: 93%;
                    left: 10%;
                    background-image: url(../img/cloud-up.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: rgba(255, 255, 255, .0);
                    z-index: 1;
                }
            }
        }
        .definition__inner-btn{
            padding-top: 79px;
            margin-bottom: 30px;
            button{
                padding: 35px 80px;
                border-radius: 55px;
            }

        }
        .definition__inner-subtitle{
            font-family: 'Russo one';
            font-size: 20px;
        }
    }
}

//definition end

//footer start

.footer {
    background-color: #252525;
    color: #fff;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .footer__item-title{
            font-size: 18px;
            font-weight: 700; 
            margin: 40px 0 25px;
            padding-bottom: 15px; 
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-color: #383838;
                width: 100%;
                height: 1px;
                top: 100%;
                left: 0;
            }
        }
        .footer__content-top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            &-item{  
                width: 18%;
                .footer__item-word-links{
                    display: block;
                    margin-top: 15px;
                    margin-left: 13px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        background-color: $color-red;
                        top: 35%;
                        left: -7%;
                    }
                }         
                .footer__item-links{
                    .footer-main-img-links{
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .footer__content-down{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            &-item{
                // width: 25%;
                .footer-soc-links{
                    display: flex;
                    // justify-content: space-between;
                    // text-align: center;
                    // align-items: center;
                }
                .footer-down-links{
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    position: relative;
                    z-index:  20;
                    width: 20px;
                    height: 20px;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        background-color: #c8c8c8;
                        top: -5px;
                        left: -6px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                .footer__input{
                    display: flex;
                    input{
                        outline: none;
                        border: none;
                        padding: 15px 45px 15px 50px;
                        border-radius: 20px;
                        z-index: -1;
                        margin-right: -45px;
                    }
                    button{
                        background-color: $color-red;
                        padding: 16px 13px;
                        border-radius: 20px;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        &:hover{
                            background-color: #f1592a;
                            box-shadow: 0px 11px 35px 0px rgba(241, 89, 42, 0.7),0px 2px 0px 0px rgba(194, 72, 34, 0.004);
                        }
                    }
                }
            }
            .footer__item-title-down{
                width: 23%;
                margin-top: -20px;
            }
        }
        .footer__active-life{
            text-align: center;
            margin-bottom: 50px;
        }
    }
    
}

//footer end

//media start
@media (max-width:1450px){
    .header__slider{
        .slick-next{
            top: 82%;
            right: 3%;
        }
        .slick-prev{
            top: 82%;
            left: 3%;
        }
    }
}
@media (max-width:1050px){
    .header{
        .header__inner{
            .header__menu{
                nav{
                    padding: 10px;
                    ul{
                        opacity: 1;
                        display: none;
                        margin: 0 auto;
                        li{
                            margin-top: 5px;
                            font-size: 25px;
                        }
                    }
                    .header__menu-right-content{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    .burger-btn{
        opacity: 1;
        display: block;
    }
    // .form{
    //     .form__inner{
            
    //     }
    // }
}
@media (max-width:950px){
    .header__slider{
        background-position: 65% 50%;
    }
}
@media (max-width: 780px){
    .header__slider{
        background-position: 65% 50%;
        .item-content{
            flex-direction: column; 
            .item-info{
                margin: 20px 0;
            }        
        }
        .item-title{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
        }
        .slick-arrow{
            display: none;
        }
    }
}

@media (max-width:550px){
    .header__menu{       
        nav{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .header-ul{
                font-size: 25px;
                padding: 0;
            }
            .header__menu-right-content{
                margin: 20px auto 0;
            }   
        }
        
        
    }
    .header__slider{
        .item-title{
            font-size: 25px;
            line-height: 35px;
        }
        .item-info{
            display: flex;
            flex-wrap: wrap;
            .item-info-item{
                flex-basis: 50%;
            }
        }
    }
}









//     .header{
//         .header__menu{
//         .header__inner{
//             nav{
//                 .header-ul{
//                     opacity: 1;
//                     display: none;
//                 }
//             }
//         }
//     }
// }
// .burger-btn{
//     opacity: 1;
//     display: block;
// }
// }


//media end